.wrap h1 {
  margin-top: 0.6em;
  margin-left: 0.66666667em;
  font-size: 1.25em;
  line-height: 2;
  color: #333;
}
#questionList {
  margin-left: 0;
}
#questionList li {
  padding: 0.83333333em 0.83333333em 0;
  border-width: 1px;
}
#questionList li:first-child {
  border-top: 1px solid #f1f1f1;
}
#questionList li:last-child {
  border-bottom: 1px solid #f1f1f1;
}
#questionList footer {
  text-align: right;
  color: #a4a4a4;
}
