#loadingTip {
  display: none;
  position: absolute;
  width: 80%;
  height: 4.16666667em;
  line-height: 4.16666667em;
  z-index: 10;
  top: 40%;
  left: 50%;
  margin-left: -40%;
  margin-top: -4.16666667em;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: #f9f9f9;
  text-align: center;
  -moz-box-shadow: 0px 2px 4px rgba(4, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 4px rgba(4, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(4, 0, 0, 0.1);
}
